[package]
name = "eprofiler-proto"
version = "0.1.0"
edition = "2024"
license = "MIT"
publish = false

[dependencies]
prost = "0.14"
tonic = "0.14"
tonic-prost = "0.14"

[build-dependencies]
tonic-prost-build = "0.14"
